html {
  box-sizing: border-box;
  min-width: 800px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  background-color: #1F2937;
  color: #F9FAF8;
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: 0 200px;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  width: 100%;
}

.nav-links ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

.nav-links, a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}